<!DOCTYPE HTML>
<html lang="az">
<head>

<meta charset="utf-8" />
<link rel="alternate" hreflang="az" href="https://bravosupermarket.az/" />
<link rel="alternate" hreflang="en" href="https://bravosupermarket.az/en/" />
<link rel="alternate" hreflang="ru" href="https://bravosupermarket.az/ru/" />
<link rel="alternate" hreflang="x-default" href="https://bravosupermarket.az/" />
<meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=no">
<title>Ana səhifə | Bravo Supermarket</title>
<meta name="description" content="Biz sizə yalnız ən yaxşı məhsulları təqdim etmək üçün buradayıq">
<meta name="keywords" content="market, supermarket, marketlər, bravo" />
<meta name="image" content="https://bravosupermarket.az/site/templates/img/bravo-share.jpg" />
<meta property="og:title" content="Ana səhifə | Bravo Supermarket" />
<meta property="og:url" content="https://bravosupermarket.az/" />
<meta property="og:description" content="Biz sizə yalnız ən yaxşı məhsulları təqdim etmək üçün buradayıq" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://bravosupermarket.az/site/templates/img/bravo-share.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="bravosupermarket.az" />
<meta name="twitter:title" content="Ana səhifə | Bravo Supermarket" />
<meta name="twitter:url" content="https://bravosupermarket.az/" />
<meta name="twitter:description" content="Biz sizə yalnız ən yaxşı məhsulları təqdim etmək üçün buradayıq" />
<meta name="twitter:image" content="https://bravosupermarket.az/site/templates/img/bravo-share.jpg" />
<meta name="twitter:image:alt" content="bravosupermarket.az">




<link rel="apple-touch-icon" sizes="57x57" href="/site/templates/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/site/templates/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/site/templates/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/site/templates/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/site/templates/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/site/templates/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/site/templates/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/site/templates/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/site/templates/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/site/templates/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/site/templates/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/site/templates/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/site/templates/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/site/templates/img/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/site/templates/img/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<meta name="facebook-domain-verification" content="5a27r6jyoyb05eb6d9pfj6n0ki7pkd" />
<meta name="google-site-verification" content="6Lfj4M0rAAAAABeF3WIzK84rg7GEsQ7tPD06AjWX" />
<link href="/site/templates/css/reset.css?v=1001" rel="stylesheet" type="text/css" />
<link href="/site/templates/css/owl.carousel.min.css?v=1001" rel="stylesheet" type="text/css" />
<link href="/site/templates/css/main.css?v=1001" rel="stylesheet" type="text/css" />
<link href="/site/templates/css/responsive.css?v=1001" rel="stylesheet" type="text/css" />
<link href="/site/templates/css/datepicker.min.css?v=1001" rel="stylesheet" type="text/css" />
<link href="/site/templates/css/font/stylesheet.css?v=1001" rel="stylesheet" type="text/css" />
<link href="/site/templates/css/preload.css?v=1001" rel="stylesheet" type="text/css" />

<link href="/site/templates/css/intlTelInput.css?v=1001" rel="stylesheet" type="text/css" />
   


    <!-- Google Tag Manager -->
    <script nonce="LMvzXHMwqrSTv16WAnhpUw==">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KFLTTFC');</script>
<!-- End Google Tag Manager -->


</head>

<body class="index">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFLTTFC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


  <!-- HEADER BEGIN -->
    <header class="main_header">
    <div id="snow"></div>
      <section class="first_header">
        <div class="lang_selector">
          <select name="lang">
            <option value="" data-link="/" selected style="display: none;"></option>
                        <option value="0" data-link="/">Azərbaycan</option>
                        <option value="1" data-link="/en/">English</option>
                        <option value="2" data-link="/ru/">Russian</option>
                      </select>
          <div>
            <a href="/">Azərbaycan</a>
            <ul>
                          <li><a href="/">Azərbaycan</a></li>
                          <li><a href="/en/">English</a></li>
                          <li><a href="/ru/">Russian</a></li>
                        </ul>
          </div>
        </div>
        <div class="ring_link">
          <a href="tel:*2266">Çağrı mərkəzi: *2266</a>
        </div>


      </section>
      <div>
        <div class="l_side">
          <div class="logo">
            <a href="/"><img src="/site/templates/img/newLogo.png"/></a>
          </div>
          <nav class="main_nav">
            <ul>
                            <li><a href="/special-offers/" >Xüsusi təkliflər</a></li>
                            <li><a href="/about-us/" >Haqqımızda</a></li>
                            <li><a href="/cards/" >Kartlar</a></li>
                            <li><a href="/news/" >Xəbərlər</a></li>
                            <li><a href="/career/" >Karyera</a></li>
                            <li><a href="/customerservice/" >Müştəri xidmətləri</a></li>
                            <li><a href="/bravo-app/" >Bravo App</a></li>
                            <li><a href="/yalniz-bravoda/" >Yalnız Bravoda</a></li>
                            <li><a href="/bloq/" >Bloq</a></li>
                          </ul>
          </nav>
        </div>
        <!-- <ul class="header_links">
                      <li>
              <a target="_blank" href="https://umico.az/categories/4497-dukan">
                <img src="/site/assets/files/1091/basket_green_icon.svg" alt="">
                <span>Onlayn market</span>
              </a>
            </li>
                      <li>
              <a  href="/branches/">
                <img src="/site/assets/files/1092/branches_green_icon.svg" alt="">
                <span>Marketlərimiz</span>
              </a>
            </li>
                      <li>
              <a  href="/corporate/">
                <img src="/site/assets/files/1093/corporate_green_icon.svg" alt="">
                <span>Korporativ satış</span>
              </a>
            </li>
                  </ul> -->
             <ul class="header_links">
      <li>
      <a target="_blank" href="https://umico.az/categories/4497-dukan">
        <img src="/site/assets/files/1091/basket_green_icon.svg" alt="">
        <span>Onlayn market</span>
      </a>
      
 
              <ul class="submenu">
            <li><a target="_blank" href='https://bravosupermarket.az/mobile-application/ '> <img src="/site/templates/img/bravo_market.jpg" alt="Bravo Online" class="bravo_online_img"> Bravo Online</a></li>
            <!--          <li><a target="_blank" href='https://bravosupermarket.az/mobile-application/ '> <img src="/site/templates/img/umico.svg" alt="umico"> Bravo Online</a></li>-->
          <li><a target="_blank" href="https://wolt.com/az/discovery/aze_bravo_supermarket"> <img src="/site/templates/img/wolt.svg" alt="wolt">  Wolt</a></li>
        </ul>
          </li>
      <li>
      <a  href="/branches/">
        <img src="/site/assets/files/1092/branches_green_icon.svg" alt="">
        <span>Marketlərimiz</span>
      </a>
      
 
          </li>
      <li>
      <a  href="/corporate/">
        <img src="/site/assets/files/1093/corporate_green_icon.svg" alt="">
        <span>Korporativ satış</span>
      </a>
      
 
          </li>
  </ul>
        <div class="r_side">
          <div class="lang_selector">
            <select name="lang">
              <option value="0" data-link="" disabled selected=""></option>
                            <option value="0" data-link="/">Azərbaycan</option>
                            <option value="1" data-link="/en/">English</option>
                            <option value="2" data-link="/ru/">Russian</option>
                          </select>
            <div>
              <a href="/"></a>
              <ul>
                              <li><a href="/">Azərbaycan</a></li>
                              <li><a href="/en/">English</a></li>
                              <li><a href="/ru/">Russian</a></li>
                            </ul>
            </div>
          </div>
          <a href="javascript:void(0);" class="toggler">
            <span>
              <em></em>
              <em></em>
              <em></em>
            </span>
          </a>
        </div>
      </div>
    </header>
  <!-- HEADER END -->


  <!-- NEW SLIDER BEGIN -->
    <div class="new_slider_wrapper">
        <div>
            <div class="new_slider owl-carousel">
                                    <article style="background: background: rgb(126,170,76); background: linear-gradient(177deg, rgba(126,170,76,1) 0%, rgba(134,196,61,1) 84%);; position: relative ">
                        <div class="inner" style="color:#db1f12">
                          <div>
                            <h2>Bravo-da Supermanat günləri!</h2>
                            <p>1-14 oktyabr</p>                            
                          </div>
                          <div class="link">
                            <a href="/special-offers/leaflet/" style="color:#f03737"><span>Ətraflı</span><em>Ətraflı</em></a>
                          </div>
                        </div>
                        <div class="image">
                            <span style="background-image: url()"></span>
                            <img src="/site/assets/files/2707/473x353-1.png" alt="Bravo-da Supermanat günləri!">
                        </div>
                        <a href="/special-offers/leaflet/" class="full_link"></a>
                    </article>
                                    <article style="background: background: #AEA727; background: linear-gradient(358deg, rgba(174, 167, 39, 1) 0%, rgba(255, 254, 235, 1) 84%);; position: relative ">
                        <div class="inner" style="color:#003f2c">
                          <div>
                            <h2>BRAVO-da Zeytun Bağları ilə poz, qazan!</h2>
                                                        
                          </div>
                          <div class="link">
                            <a href="/news/bravo-app/bravo-da-zeytun-baglari-poz-qazan-kampaniyasi-basladi/" style="color:#003f2c"><span>Ətraflı</span><em>Ətraflı</em></a>
                          </div>
                        </div>
                        <div class="image">
                            <span style="background-image: url()"></span>
                            <img src="/site/assets/files/4405/sufr_niz_l_zz_t-_siz_h_diyy.png" alt="BRAVO-da Zeytun Bağları ilə poz, qazan!">
                        </div>
                        <a href="/news/bravo-app/bravo-da-zeytun-baglari-poz-qazan-kampaniyasi-basladi/" class="full_link"></a>
                    </article>
                                    <article style="background: background: #F5D257; background: linear-gradient(166deg, rgba(245, 210, 87, 1) 22%, rgba(165, 14, 19, 1) 100%);; position: relative ">
                        <div class="inner" style="color:#a50e13">
                          <div>
                            <h2>BRAVO-da Azərçay və Berqa al, çarxı fırlat, qazan!</h2>
                                                        
                          </div>
                          <div class="link">
                            <a href="/news/bravo-app/bravo-da-azercay-berqa-ile-carxi-firlat-kampaniyasi-basladi/" style="color:#a50e13"><span>Ətraflı</span><em>Ətraflı</em></a>
                          </div>
                        </div>
                        <div class="image">
                            <span style="background-image: url()"></span>
                            <img src="/site/assets/files/4543/azerbaijani_tea_gift_promo.png" alt="BRAVO-da Azərçay və Berqa al, çarxı fırlat, qazan!">
                        </div>
                        <a href="/news/bravo-app/bravo-da-azercay-berqa-ile-carxi-firlat-kampaniyasi-basladi/" class="full_link"></a>
                    </article>
                                    <article style="background: background: #F32733; background: linear-gradient(180deg, rgba(243, 39, 51, 1) 0%, rgba(231, 14, 34, 1) 50%, rgba(197, 4, 31, 1) 87%);; position: relative ">
                        <div class="inner" style="color:#ffffff">
                          <div>
                            <h2>Colgate Total diş fırçası və məcunu al – Poz və Qazan!</h2>
                                                        
                          </div>
                          <div class="link">
                            <a href="/news/bravo-app/colgate-total-il-gund-lik-alis-verisini-h-diyy-furs-tin-cevir/" style="color:#000c2b"><span>Ətraflı</span><em>Ətraflı</em></a>
                          </div>
                        </div>
                        <div class="image">
                            <span style="background-image: url()"></span>
                            <img src="/site/assets/files/4427/chatgpt_image_sep_21_2026_05_49_45_pm-removebg-preview.png" alt="Colgate Total diş fırçası və məcunu al – Poz və Qazan!">
                        </div>
                        <a href="/news/bravo-app/colgate-total-il-gund-lik-alis-verisini-h-diyy-furs-tin-cevir/" class="full_link"></a>
                    </article>
                                    <article style="background: background: #199955; background: linear-gradient(0deg, rgba(25, 153, 85, 1) 0%, rgba(119, 191, 15, 1) 45%);; position: relative ">
                        <div class="inner" style="color:#fefefe">
                          <div>
                            <h2>Mistik Məxluqlar ilə məktəbə qayıt!</h2>
                                                        
                          </div>
                          <div class="link">
                            <a href="/news/bravo-app/mistik-dunyaya-geri-qayit/" style="color:#199955"><span>Ətraflı</span><em>Ətraflı</em></a>
                          </div>
                        </div>
                        <div class="image">
                            <span style="background-image: url()"></span>
                            <img src="/site/assets/files/3295/moving_object-1.png" alt="Mistik Məxluqlar ilə məktəbə qayıt!">
                        </div>
                        <a href="/news/bravo-app/mistik-dunyaya-geri-qayit/" class="full_link"></a>
                    </article>
                                    <article style="background: background: #99E6BA; background: linear-gradient(0deg, rgba(153, 230, 186, 1) 0%, rgba(6, 90, 66, 1) 100%);; position: relative ">
                        <div class="inner" style="color:#ffffff">
                          <div>
                            <h2>Leo Mastercard kartı ilə Bravo-da 7% keşbek!</h2>
                                                        
                          </div>
                          <div class="link">
                            <a href="/news/layiheler/leo-mastercard-kart-sahibleri-ucun-bravo-da-7-kesbek/" style="color:#065a42"><span>Ətraflı</span><em>Ətraflı</em></a>
                          </div>
                        </div>
                        <div class="image">
                            <span style="background-image: url()"></span>
                            <img src="/site/assets/files/2983/possst_519_az-removebg-preview.png" alt="Leo Mastercard kartı ilə Bravo-da 7% keşbek!">
                        </div>
                        <a href="/news/layiheler/leo-mastercard-kart-sahibleri-ucun-bravo-da-7-kesbek/" class="full_link"></a>
                    </article>
                                    <article style="background: background: #63ABE7; background: linear-gradient(350deg, rgba(99, 171, 231, 1) 21%, rgba(208, 105, 238, 1) 64%);; position: relative ">
                        <div class="inner" style="color:#FFFFFF">
                          <div>
                            <h2>BRAVO-da akart ilə alış-veriş et, 2% keşbek qazan!</h2>
                                                        
                          </div>
                          <div class="link">
                            <a href="/news/layiheler/bravo-dan-akart-ile-bazarliq-indi-daha-serfeli/" style="color:#d069ee"><span>Ətraflı</span><em>Ətraflı</em></a>
                          </div>
                        </div>
                        <div class="image">
                            <span style="background-image: url()"></span>
                            <img src="/site/assets/files/4424/akart.png" alt="BRAVO-da akart ilə alış-veriş et, 2% keşbek qazan!">
                        </div>
                        <a href="/news/layiheler/bravo-dan-akart-ile-bazarliq-indi-daha-serfeli/" class="full_link"></a>
                    </article>
                                    <article style="background: background: rgb(246,134,24); background: linear-gradient(0deg, rgba(246,134,24,1) 25%, rgba(91,161,26,1) 79%, rgba(105,171,50,1) 100%);; position: relative ">
                        <div class="inner" style="color:#ffffff">
                          <div>
                            <h2>Unibank kartınızla Bravo-da alış-verişə 5% keşbek qazanın!</h2>
                                                        
                          </div>
                          <div class="link">
                            <a href="/news/layiheler/unibank-karti-ile-bol-kesbekli-alis-veris-bravo-dadir/" style="color:#36c73a"><span>Ətraflı</span><em>Ətraflı</em></a>
                          </div>
                        </div>
                        <div class="image">
                            <span style="background-image: url()"></span>
                            <img src="/site/assets/files/3291/780x600_5-1-removebg-preview.png" alt="Unibank kartınızla Bravo-da alış-verişə 5% keşbek qazanın!">
                        </div>
                        <a href="/news/layiheler/unibank-karti-ile-bol-kesbekli-alis-veris-bravo-dadir/" class="full_link"></a>
                    </article>
                                    <article style="background: background: rgb(29,158,29); background: radial-gradient(circle, rgba(29,158,29,1) 49%, rgba(2,79,1,1) 99%);; position: relative ">
                        <div class="inner" style="color:#fefefe">
                          <div>
                            <h2>Yeni Bravo mobil tətbiqi elə indi yüklə!</h2>
                                                        
                          </div>
                          <div class="link">
                            <a href="/bravo-app/" style="color:#035902"><span>Ətraflı</span><em>Ətraflı</em></a>
                          </div>
                        </div>
                        <div class="image">
                            <span style="background-image: url()"></span>
                            <img src="/site/assets/files/3845/bravo_app_digital.png" alt="Yeni Bravo mobil tətbiqi elə indi yüklə!">
                        </div>
                        <a href="/bravo-app/" class="full_link"></a>
                    </article>
                                    <article style="background: background: #26802e; background: linear-gradient(90deg, rgba(38, 128, 46, 1) 0%, rgba(18, 196, 92, 1) 50%, rgba(53, 105, 12, 1) 100%);; position: relative ">
                        <div class="inner" style="color:#fefefe">
                          <div>
                            <h2>HexaCoin dövrü başladı!</h2>
                            <p>Alış-veriş et, HexaCoin-lər qazan, seqmentini yüksəlt!</p>                            
                          </div>
                          <div class="link">
                            <a href="/news/bravo-app/bravo-tetbiqinde-yeni-dovr-hexacoin-ler-ile-daha-cox-qazan-daha-suretli-yuksel/" style="color:#035902"><span>Ətraflı</span><em>Ətraflı</em></a>
                          </div>
                        </div>
                        <div class="image">
                            <span style="background-image: url()"></span>
                            <img src="/site/assets/files/4440/sayt_hexacoin-removebg-preview.png" alt="HexaCoin dövrü başladı!">
                        </div>
                        <a href="/news/bravo-app/bravo-tetbiqinde-yeni-dovr-hexacoin-ler-ile-daha-cox-qazan-daha-suretli-yuksel/" class="full_link"></a>
                    </article>
                                    <article style="background: background: #73e366; background: linear-gradient(172deg, rgba(115, 227, 102, 1) 0%, rgba(33, 176, 62, 1) 100%);; position: relative ">
                        <div class="inner" style="color:#FFFFFF">
                          <div>
                            <h2>&quot;Bravo Brand&quot; məhsulları yalnız Bravo-da!</h2>
                                                        
                          </div>
                          <div class="link">
                            <a href="/yalniz-bravoda/bravo-brand/" style="color:#008000"><span>Ətraflı</span><em>Ətraflı</em></a>
                          </div>
                        </div>
                        <div class="image">
                            <span style="background-image: url()"></span>
                            <img src="/site/assets/files/4063/brends.png" alt="&quot;Bravo Brand&quot; məhsulları yalnız Bravo-da!">
                        </div>
                        <a href="/yalniz-bravoda/bravo-brand/" class="full_link"></a>
                    </article>
                                    <article style="background: background: #ededed; background: linear-gradient(90deg, rgba(237, 237, 237, 1) 0%, rgba(47, 77, 130, 1) 0%);; position: relative ">
                        <div class="inner" style="color:#ffffff">
                          <div>
                            <h2>Bravo-da Digital Bolkart ilə 5% keşbek!</h2>
                                                        
                          </div>
                          <div class="link">
                            <a href="/news/layiheler/bravo-da-bolkartla-7-kesbek-var-1/" style="color:#FF4275"><span>Ətraflı</span><em>Ətraflı</em></a>
                          </div>
                        </div>
                        <div class="image">
                            <span style="background-image: url()"></span>
                            <img src="/site/assets/files/4449/500x500.png" alt="Bravo-da Digital Bolkart ilə 5% keşbek!">
                        </div>
                        <a href="/news/layiheler/bravo-da-bolkartla-7-kesbek-var-1/" class="full_link"></a>
                    </article>
                                    <article style="background: background: rgb(231,231,231); background: linear-gradient(121deg, rgba(231,231,231,1) 0%, rgba(230,230,230,1) 99%);; position: relative ">
                        <div class="inner" style="color:#000000">
                          <div>
                            <h2>MO geyim məhsulları Bravo-da!</h2>
                                                        
                          </div>
                          <div class="link">
                            <a href="/news/layiheler/mo-geyim-mehsullari-bravo-da-1/" style="color:#000000"><span>Ətraflı</span><em>Ətraflı</em></a>
                          </div>
                        </div>
                        <div class="image">
                            <span style="background-image: url()"></span>
                            <img src="/site/assets/files/3702/png-03.png" alt="MO geyim məhsulları Bravo-da!">
                        </div>
                        <a href="/news/layiheler/mo-geyim-mehsullari-bravo-da-1/" class="full_link"></a>
                    </article>
                                    <article style="background: background: rgb(0,194,232); background: linear-gradient(180deg, rgba(0,194,232,1) 58%, rgba(121,198,66,1) 84%, rgba(121,198,66,1) 96%);; position: relative ">
                        <div class="inner" style="color:#fefefe">
                          <div>
                            <h2>Bravo artıq Wolt-da!</h2>
                                                        
                          </div>
                          <div class="link">
                            <a href="/news/layiheler/bravo-artiq-wolt-da/" style="color:#1ed8e5"><span>Ətraflı</span><em>Ətraflı</em></a>
                          </div>
                        </div>
                        <div class="image">
                            <span style="background-image: url()"></span>
                            <img src="/site/assets/files/3404/wolt-bravo-1.png" alt="Bravo artıq Wolt-da!">
                        </div>
                        <a href="/news/layiheler/bravo-artiq-wolt-da/" class="full_link"></a>
                    </article>
                            </div>
                    </div>
    </div>
  <!-- NEW SLIDER END -->

  <!-- INDEX CONTDOWN END -->

      <div class="index_special">
      <div>
        <header class="uni_header">
          <div class="l_side">
            <h2>Xüsusi təkliflər!</h2>

<p>BRAVO-da hər gün üçün super təklifləri qaçırmayın!</p>          </div>
          <div class="link">
            <a href="/special-offers/"><span>Bütün təkliflər</span></a>
          </div>
        </header>
        

<div class="special_grid">
        <article style="color: ; background-color: ; background-image: url(/site/assets/files/4238/bravo_new_web_site_banners_xususi_teklif_sehifesi_xususi_teklif_menu_628x328-2.jpg);">
    <div>
        <h3 style="color:#FFFFFF">Supermanat Hiper</h3>
        <div class="date">
        <time style="color:#FFFFFF"></time>
        </div>
    </div>
<!--    --><!--    <div class="download">-->
<!--        <a href="javascript:void(0);" style="color:--><!--" target="_blank">--><!--</a>-->
<!--        <div>-->
<!--            --><!--            <a href="--><!--" target="_blank">--><!--</a>-->
<!--            --><!--        </div>-->
<!--    </div>-->
<!--    -->    <a href="/special-offers/leaflet/" class="full_link"></a>
    </article>
        <article style="color: ; background-color: ; background-image: url(/site/assets/files/4239/bravo_new_web_site_banners_xususi_teklif_sehifesi_xususi_teklif_menu_628x328-2.jpg);">
    <div>
        <h3 style="color:#FFFFFF">Supermanat Super</h3>
        <div class="date">
        <time style="color:#FFFFFF"></time>
        </div>
    </div>
<!--    --><!--    <div class="download">-->
<!--        <a href="javascript:void(0);" style="color:--><!--" target="_blank">--><!--</a>-->
<!--        <div>-->
<!--            --><!--            <a href="--><!--" target="_blank">--><!--</a>-->
<!--            --><!--        </div>-->
<!--    </div>-->
<!--    -->    <a href="/special-offers/endirim-firtinasi-hiper-14/" class="full_link"></a>
    </article>
    </div>        <div class="mobile_link">
          <a href="/special-offers/"><span>Bütün təkliflər</span></a>
        </div>
      </div>
    </div>
  
  <!-- INDEX ADVANTAGES BEGIN -->
    <div class="index_advantages" style="margin-top: 50px;">
      <div>
        <header class="uni_header">
          <div class="l_side">
            <h2>Bizim göstəricilər</h2>

<p>Biz yeni imkanlar axtarırıq və digərlərinin bilmədikləri yerlərə getməyə hazırıq.</p>          </div>
        </header>
        <div class="advantages_grid">
			          <article>
            <h3>144</h3>            <footer>
              <p>Market sayı</p>
              <img src="/site/assets/files/1080/advantage_green_icon_1.svg" alt="">
            </footer>
          </article>
		            <article>
            <h3>11</h3>            <footer>
              <p>Region</p>
              <img src="/site/assets/files/1081/advantage_green_icon_2.svg" alt="">
            </footer>
          </article>
		            <article>
            <h3>50000+</h3>            <footer>
              <p>Məhsul sayı</p>
              <img src="/site/assets/files/1082/basket.svg" alt="">
            </footer>
          </article>
		            <article>
            <h3>4500+</h3>            <footer>
              <p>Əməkdaş sayı</p>
              <img src="/site/assets/files/1083/advantage_green_icon_4.svg" alt="">
            </footer>
          </article>
		          </div>
        <div class="advantages_three">
			          <article>
            <div class="image">
              <img src="/site/assets/files/1098/group_7363.png" alt="">
            </div>
            <h3>Korporativ</h3>
            <a href="/corporate/" class="full_link"></a>
          </article>
		            <article>
            <div class="image">
              <img src="/site/assets/files/1099/image_2.png" alt="">
            </div>
            <h3>Bravo Kartları</h3>
            <a href="/cards/" class="full_link"></a>
          </article>
		            <article>
            <div class="image">
              <img src="/site/assets/files/1100/group_7364.png" alt="">
            </div>
            <h3>Müştəri xidməti</h3>
            <a href="/customerservice/" class="full_link"></a>
          </article>
		          </div>
      </div>
    </div>
  <!-- INDEX ADVANTAGES BEGIN -->

  <!-- BECOME INDEX BEGIN -->
      <div class="become_wrapper">
      <div>
        <div class="become_index">
			          <div class="image">
            <img src="/site/assets/files/1103/image_71.png?v=2" alt="">
          </div>
		            <div class="image">
            <img src="/site/assets/files/1103/group_7362.png?v=2" alt="">
          </div>
		          
          <div class="inner">
			       <h2>Böyük komandamızın <strong>bir hissəsi</strong> olun</h2>

<p>Məqsədimiz Azərbaycanda milli dəyərlərə bağlı, qürurla yaradılmış, etibarlı qida markası olmaqdır</p>            <div class="link">
              <a href="/career/">Komandamıza qoşulun</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- BECOME INDEX END -->

  <footer class="main_footer">
      <div>
        <div class="logo">
           <a href="/"><img src="/site/templates/img/newLogo.png"/></a>
        </div>
        <div class="footer_first">
          <nav class="footer_nav">
            <article>
              <h3><a href="/">Şirkət</a></h3>
              <ul>
                                <li><a href="/special-offers/">Xüsusi təkliflər</a></li>
                                <li><a href="/about-us/">Haqqımızda</a></li>
                                <li><a href="/cards/">Kartlar</a></li>
                                <li><a href="/icareye-vermeye-yeriniz-var/">İcarəyə verməyə yeriniz var?</a></li>
              </ul>
            </article>
            <article>
              <h3></h3>
              <ul>
                                <li><a href="/news/">Xəbərlər</a></li>
                                <li><a href="/career/">Karyera</a></li>
                                <li><a href="/customerservice/">Müştəri xidmətləri</a></li>
                              </ul>
            </article>
            <article>
              <h3><a href="javascript:void(0);">Digər</a></h3>
              <ul>
                                <li><a href="">Onlayn market</a></li>
                                <li><a href="/branches/">Marketlərimiz</a></li>
                                <li><a href="/corporate/">Korporativ satış</a></li>
                              </ul>
            </article>
            <article>
              <h3><a href="javascript:void(0);">Hüquq</a></h3>
              <ul>
                              <li><a href="/huquq/terms-of-use/">İstifadə şərtləri</a></li>
                                <li><a href="/huquq/rejection/">İmtina</a></li>
                              </ul>
            </article>
          </nav>
          <div class="footer_subscribe">
            <h3>Yeniliklərə abunə olun</h3>
            <div class="app subscribe_form">
              <form action="" method="post" @submit.prevent="checkForm" v-if="!savingSuccessful">
              <input type="text" v-model="email" placeholder="E-mail daxil edin">
              <input type="hidden" name="action" value="email">
              <input type="hidden" name="item" value="email">
              <input type="hidden" name="phone" value="email">

              <button class="button">Göndər</button>
              </form>
              <div v-if="savingSuccessful" class="subscribe_success"  style="display:block;">
                <h4>Təşəkkür edirik!</h4>
                <p>Xəbərlərə uğurla abunə oldunuz</p>
              </div>
            </div>

          </div>
        </div>
        <div class="footer_last">
          <div class="copyright">
            <p>© 2026 Azerbaijan Supermarket. Bütün hüquqlar qorunur</p>
          </div>
         <div class="jis">
        <div class="jis">
    </div>
          <div class="lang_selector">
            <select name="lang">
              <option value="0" data-link="" disabled selected=""></option>
                            <option value="0" data-link="/">Azərbaycan</option>
                            <option value="1" data-link="/en/">English</option>
                            <option value="2" data-link="/ru/">Russian</option>
                          </select>
            <div>
              <a href="/">Azərbaycan</a>
              <ul>
                              <li><a href="/">Azərbaycan</a></li>
                              <li><a href="/en/">English</a></li>
                              <li><a href="/ru/">Russian</a></li>
                            </ul>
            </div>
          </div>
          <div class="social_links">
                        <a href="https://www.facebook.com/BravoSupermarketAz/" target="_blank" class="facebook"></a>
                        <a href="https://www.instagram.com/bravosupermarketaz/?hl=en" target="_blank" class="instagram"></a>
                        <a href="https://www.youtube.com/channel/UCUDPswYmu2SCJQCr7qDdtwA" target="_blank" class="youtube"></a>
                        <a href="https://www.linkedin.com/company/bravo-supermarket-azerbaijan/" target="_blank" class="linkedin"></a>
                        <a href="https://t.me/bravosupermarketaze" target="_blank" class="telegram"></a>
                        <a href="https://www.tiktok.com/@bravosupermarketaz" target="_blank" class="tiktok"></a>
                        <a href="https://www.whatsapp.com/channel/0029VaCi0unC6ZvgBI6aST3a" target="_blank" class="whatsapp"></a>
          </div>
        </div>
      </div>
    </footer>
  <!-- FOOTER END -->
  <!-- ASIDE BEGIN -->
 <!-- <aside class="mobile_aside">
      <ul class="aside_links">
                      <li>
              <a href="https://umico.az/categories/4497-dukan">
                <img src="/site/assets/files/1091/basket_green_icon.svg" alt="">
                <span>Onlayn market</span>
              </a>
            </li>
                      <li>
              <a href="/branches/">
                <img src="/site/assets/files/1092/branches_green_icon.svg" alt="">
                <span>Marketlərimiz</span>
              </a>
            </li>
                      <li>
              <a href="/corporate/">
                <img src="/site/assets/files/1093/corporate_green_icon.svg" alt="">
                <span>Korporativ satış</span>
              </a>
            </li>
                </ul>
      <nav class="mobile_nav">
        <ul>
                  <li><a href="/special-offers/" class="mobile_item">Xüsusi təkliflər</a></li>
                  <li><a href="/about-us/" class="mobile_item">Haqqımızda</a></li>
                  <li><a href="/cards/" class="mobile_item">Kartlar</a></li>
                  <li><a href="/news/" class="mobile_item">Xəbərlər</a></li>
                  <li><a href="/career/" class="mobile_item">Karyera</a></li>
                  <li><a href="/customerservice/" class="mobile_item">Müştəri xidmətləri</a></li>
                  <li><a href="/bravo-app/" class="mobile_item">Bravo App</a></li>
                  <li><a href="/yalniz-bravoda/" class="mobile_item">Yalnız Bravoda</a></li>
                  <li><a href="/bloq/" class="mobile_item">Bloq</a></li>
                </ul>
      </nav>
      <div class="lang_selector">
            <select name="" id="">
            <option value="0" data-link="" disabled selected=""></option>

                            <option value="0" data-link=""/">Azərbaycan</option>
                            <option value="1" data-link=""/en/">English</option>
                            <option value="2" data-link=""/ru/">Russian</option>
                          </select>
            <div>
            <a href="/">Azərbaycan</a>
              <ul>
                              <li><a href="/">Azərbaycan</a></li>
                              <li><a href="/en/">English</a></li>
                              <li><a href="/ru/">Russian</a></li>
                            </ul>
            </div>
          </div>
    </aside> -->
    <aside class="mobile_aside">
  <ul class="aside_links">
          <li>
        <a href="https://umico.az/categories/4497-dukan">
          <img src="/site/assets/files/1091/basket_green_icon.svg" alt="">
          <span>Onlayn market</span>
        </a>
        <!-- Alt menüyü ekle -->
         <ul class="submenu">
          <li><a target="_blank" href='https://bravosupermarket.az/mobile-application/ '> <img src="/site/templates/img/bravo_market.jpg" alt="Bravo Online" class="bravo_online_img"> Bravo Online</a></li>
<!--          <li><a target="_blank" href='https://bravosupermarket.az/mobile-application/ '> <img src="/site/templates/img/umico.svg" alt="umico"> Bravo Online</a></li>-->
          <li><a target="_blank" href="https://wolt.com/az/discovery/aze_bravo_supermarket"> <img src="/site/templates/img/wolt.svg" alt="wolt">  Wolt</a></li>
        </ul>
            </li>
          <li>
        <a href="/branches/">
          <img src="/site/assets/files/1092/branches_green_icon.svg" alt="">
          <span>Marketlərimiz</span>
        </a>
        <!-- Alt menüyü ekle -->
       </li>
          <li>
        <a href="/corporate/">
          <img src="/site/assets/files/1093/corporate_green_icon.svg" alt="">
          <span>Korporativ satış</span>
        </a>
        <!-- Alt menüyü ekle -->
       </li>
      </ul>
  <nav class="mobile_nav">
    <ul>
              <li><a href="/special-offers/" class="mobile_item">Xüsusi təkliflər</a></li>
              <li><a href="/about-us/" class="mobile_item">Haqqımızda</a></li>
              <li><a href="/cards/" class="mobile_item">Kartlar</a></li>
              <li><a href="/news/" class="mobile_item">Xəbərlər</a></li>
              <li><a href="/career/" class="mobile_item">Karyera</a></li>
              <li><a href="/customerservice/" class="mobile_item">Müştəri xidmətləri</a></li>
              <li><a href="/bravo-app/" class="mobile_item">Bravo App</a></li>
              <li><a href="/yalniz-bravoda/" class="mobile_item">Yalnız Bravoda</a></li>
              <li><a href="/bloq/" class="mobile_item">Bloq</a></li>
          </ul>
  </nav>
  <div class="lang_selector">
    <select name="" id="">
      <option value="0" data-link="" disabled selected=""></option>
              <option value="0" data-link="/">Azərbaycan</option>
              <option value="1" data-link="/en/">English</option>
              <option value="2" data-link="/ru/">Russian</option>
          </select>
    <div>
      <a href="/">Azərbaycan</a>
      <ul>
                  <li><a href="/">Azərbaycan</a></li>
                  <li><a href="/en/">English</a></li>
                  <li><a href="/ru/">Russian</a></li>
              </ul>
    </div>
  </div>
</aside>

      <div class="modal_bg"></div>
  <div class="first_modal">
    <div>
      <div class="image">
        <img src="/site/assets/files/2801/screebs.png" alt="">
      </div>
      <div class="inner">
        <p>"Supermanat günləri" başladı!</p>            <div class="countdown_clock v_2" data-start="October 14, 2026 23:59:59" data-color="#f00" style="margin: 0 0 20px;"></div>
            <br>
        <div class="link">
          <a href="/special-offers/leaflet/">Daha ətraflı</a>
        </div>
      </div>
    </div>
    <a href="javascript:void(0);" class="close"></a>
  </div>
  
<!--SUPER MANAT VIDEO start-->
<!-- --><!--  <div class="preload_bg" id="preload_wrap">-->
<!--    <video id="bg_video" playsinline preload="auto" controls="false" muted="muted" autoplay><source type="video/webm" src="--><!--img/video.webm?v=8"></video>-->
<!--  </div>-->
<!---->
<!--  <script>-->
<!--    let aud = document.getElementById("bg_video");-->
<!--    aud.onended = function() {-->
<!--      document.getElementById("preload_wrap").remove();-->
<!--    };-->
<!--  </script>-->
<!--SUPER MANAT VIDEO end-->




<script nonce="LMvzXHMwqrSTv16WAnhpUw==" type="text/javascript" src="/site/templates/js/jquery-latest.js?v=1001"></script>
<script nonce="LMvzXHMwqrSTv16WAnhpUw==" type="text/javascript" src="/site/templates/js/imagesloaded.pkgd.js?v=1001"></script>
<script nonce="LMvzXHMwqrSTv16WAnhpUw==" type="text/javascript" src="/site/templates/js/owl.carousel.js?v=1001"></script>
<script nonce="LMvzXHMwqrSTv16WAnhpUw==" type="text/javascript" src="/site/templates/js/datepicker.min.js?v=1001"></script>
<script nonce="LMvzXHMwqrSTv16WAnhpUw==" type="text/javascript" src="/site/templates/js/intlTelInput.js?v=1001"></script>
<script nonce="LMvzXHMwqrSTv16WAnhpUw==" type="text/javascript" src="/site/templates/js/main.js?v=1001"></script>

<script nonce="LMvzXHMwqrSTv16WAnhpUw==" src="https://www.google.com/recaptcha/api.js?render=6Lfj4M0rAAAAABeF3WIzK84rg7GEsQ7tPD06AjWX"></script>
<script nonce="LMvzXHMwqrSTv16WAnhpUw==" type="text/javascript" src="/site/templates/vue/vue.js?v=1001"></script>
<script nonce="LMvzXHMwqrSTv16WAnhpUw==" type="text/javascript" src="/site/templates/vue/axios.min.js?v=1001"></script>
<script nonce="LMvzXHMwqrSTv16WAnhpUw==" type="text/javascript" src="/site/templates/vue/v-mask.min.js?v=1001"></script>
<script nonce="LMvzXHMwqrSTv16WAnhpUw==" type="text/javascript" src="/site/templates/js/vue.js?v=1001"></script>




</body>
</html>